<main class="main">
    <section class="input-fav-section">
      <form action="">
        <input
          type="text"
          name=""
          id=""
          class="js-search-input"
          placeholder="Ej: Neko"
        />
        <button class="js-search-button search-btn">Buscar</button>
        <label for="msg-fetch-error" class="js-msg-error msg-error"></label>
      </form>

      <h3>Mis series favoritas</h3>
      <div class="favorites-list js-favorites"></div>
    </section>

    <section class="results-section js-results-section"></section>
  </main>
